<% include ../partials/header  %>




<div class="container" >
      <h3  id="reg"> </h3>
  <div class="row">
         <div class="col-md-6 col-sm-4">
              <form  action="/postBus/<%= post.id %>/comments" method="POST">
                  
             <label for="">Comment </label>	
                  <textarea  class="form-control" name="comment[text]" cols="5" rows="10"><%= post.desc %></textarea>
                  </div>
                  <!-- <p class="help-block">Example block-level help text here.</p> -->
                  <input type="submit" value="Comment" class="btn btn-primary">
              </form>
         </div> 
  </div>
</div>



<div class="container" id="reg">
   </div>



 <% include ../partials/footer  %>