<% if(success && success.length > 0) { %>
	<h4 style="color: green;" id="flash"><%= success %></h4>
<% } %>

<% if(error && error.length > 0) { %>

	<h4 style="color: red;" id="flash"><%= error %></h4>
<% } %>


