<div style="margin: 20px 0;">
<% if(posts.page - 1) { %>
	<a href="/post?page=<%= posts.page - 1 %>">Prev</a>
<% } %>
<% for(let i = 1; i <= posts.pages; i++) { %>
	<a href="/post?page=<%= i %>"><%= i %></a>
<% } %>
<% if((posts.page + 1) <= posts.pages) { %>
	<a href="/post?page=<%= posts.page + 1 %>">Next</a>
<% } %>
</div>