<% include ./partials/header  %>



<div class="container" id="reg">
    <div class="row">
            <h3>  Details </h3>
        <div class="col-md-6 col-sm-4">
            <div class="form-control">
              <label> Name:   <%= donors.full_name %> </label>
            </div>
            <div class="form-control">
              <label> Amount Paid: <%= donors.amount.toString().substring(0, donors.amount.length-2) %>  </label>
            </div>
            <div class="form-control">
              <label> Amount Paid: <%= donors.email %> </label>
            </div>

           <div>
                <b> Thanks for your donation </b>
           </div>
        </div>
        
    </div>
</div>

 

<% include ./partials/footer  %>