<% include ./partials/header  %>



<div class="container" id="flash">
    <div class="row">
        <div class="col-md-6 col-sm-4">
                <h3>  Details </h3>
            <div class="form-control">
              <label> Name:   <%= donors.full_name %> </label>
            </div>
            <div class="form-control">
              <label> Amount Paid: <%= donors.amount %>  </label>
            </div>
            <div class="form-control">
              <label> : <%= donors.email %> </label>
            </div>

          <h6>Thanks for your donation </h6>
        </div>
        
    </div>
</div>

 

<% include ./partials/footer  %>