<% include ./partials/header  %>

<h1>subscribe to our newsletter</h1>

<form action="/subscribe" method="post">
	<div><input type="text" name="email" placeholder="Email" required></div>
	<input type="submit" value="subscribe">
</form>


<% include ./partials/footer  %>