<% include ../partials/header  %>



<div class="container" id="reg" >
	<div class="row">
			<div class="col-md-6 col-sm-12">
					<div class="entry-form" >
						 <form action="/login" method="post">
							  <h2>Login </h2>
							  <input type="text" name="username" class="form-control" placeholder="Your full name"  required>
			
							  <input type="password" name="password" class="form-control" placeholder="Your password" required>
			
							  <button class="submit-btn form-control" id="form-submit"> login </button>
						 </form>

						 <a href="/register"> Register </a>
					</div>
			   </div>
	</div>
</div>

<% include ../partials/footer  %>