<% include ../partials/header  %>






<div class="container" id="reg" >
	<div class="row">
			<div class="col-md-6 col-sm-12">
					<div class="entry-form" >
						 <form action="/register" method="post">
							  <h2>Signup today</h2>
							  <input type="text" name="username" class="form-control" placeholder="Full name" value="<%= username %>" required>
			
							  <input type="password" name="password" class="form-control" placeholder="Your password" required>
			
							  <input type="email" name="email" class="form-control" placeholder="Your email address" value="<%= username %>" required>
							
							<div class="g-recaptcha" id="capt" data-sitekey="6Le5va0UAAAAAIhIBfRsb2MXrDGRh3NCvkm2lF4W"> </div>
							  <button class="submit-btn form-control" id="form-submit"> JOIN </button>
						 </form>
					</div>
			   </div>
	</div>
</div>








<% include ../partials/footer  %>